# Mobile Price Classification (TechGig)

# Importing the Libraries

In [73]:
import pandas as pd
import numpy as np

# Importing the Datasets

In [74]:
train = pd.read_csv('train.csv')

In [75]:
test = pd.read_csv('test.csv')

# Examining the Datasets

In [76]:
train.describe()

       battery_power       blue  ...         wifi  price_range
count    2000.000000  2000.0000  ...  2000.000000  2000.000000
mean     1238.518500     0.4950  ...     0.507000     1.500000
std       439.418206     0.5001  ...     0.500076     1.118314
min       501.000000     0.0000  ...     0.000000     0.000000
25%       851.750000     0.0000  ...     0.000000     0.750000
50%      1226.000000     0.0000  ...     1.000000     1.500000
75%      1615.250000     1.0000  ...     1.000000     2.250000
max      1998.000000     1.0000  ...     1.000000     3.000000

[8 rows x 21 columns]

In [77]:
train.head()

   battery_power  blue  clock_speed  ...  touch_screen  wifi  price_range
0            842     0          2.2  ...             0     1            1
1           1021     1          0.5  ...             1     0            2
2            563     1          0.5  ...             1     0            2
3            615     1          2.5  ...             0     0            2
4           1821     1          1.2  ...             1     0            1

[5 rows x 21 columns]

In [78]:
test.describe()

                id  battery_power  ...  touch_screen         wifi
count  1000.000000    1000.000000  ...    1000.00000  1000.000000
mean    500.500000    1248.510000  ...       0.50000     0.507000
std     288.819436     432.458227  ...       0.50025     0.500201
min       1.000000     500.000000  ...       0.00000     0.000000
25%     250.750000     895.000000  ...       0.00000     0.000000
50%     500.500000    1246.500000  ...       0.50000     1.000000
75%     750.250000    1629.250000  ...       1.00000     1.000000
max    1000.000000    1999.000000  ...       1.00000     1.000000

[8 rows x 21 columns]

In [79]:
test.head()

   id  battery_power  blue  clock_speed  ...  talk_time  three_g  touch_screen  wifi
0   1           1043     1          1.8  ...          2        0             1     0
1   2            841     1          0.5  ...          7        1             0     0
2   3           1807     1          2.8  ...         10        0             1     1
3   4           1546     0          0.5  ...          7        1             1     0
4   5           1434     0          1.4  ...          7        1             0     1

[5 rows x 21 columns]

In [80]:
test = test.drop(columns=['id'])

# Data Preprocessing

In [81]:
X_train = train.iloc[:, :-1].values
y_train = train.iloc[:, -1].values

In [82]:
X_test = test.iloc[:, :].values

Feature Scaling

In [83]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

X_train[:, 0:1] = sc.fit_transform(X_train[:, 0:1])

X_test[:, 0:1] = sc.transform(X_test[:, 0:1])

# Model Training

Support Vector Model

In [84]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'linear', random_state = 0)
classifier.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=0, shrinking=True, tol=0.001,
    verbose=False)

In [85]:
y_pred = classifier.predict(X_test)
test = pd.read_csv('test.csv')
testid = test.iloc[:, 0].values
testid = testid.astype(int)
answer = np.concatenate((testid.reshape(len(testid),1), y_pred.reshape(len(y_pred),1)),1)
np.savetxt("results-SVM.csv", answer, "%i", header="id,price_range", delimiter=",", comments="")

Decision Tree Classification

In [86]:
from sklearn.tree import DecisionTreeClassifier
classifier = DecisionTreeClassifier(criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=0, splitter='best')

In [87]:
y_pred = classifier.predict(X_test)
test = pd.read_csv('test.csv')
testid = test.iloc[:, 0].values
testid = testid.astype(int)
answer = np.concatenate((testid.reshape(len(testid),1), y_pred.reshape(len(y_pred),1)),1)
np.savetxt("results-DecisionTree.csv", answer, "%i", header="id,price_range", delimiter=",", comments="")

K Nearest Neighbors

In [88]:
from sklearn.neighbors import KNeighborsClassifier
classifier = KNeighborsClassifier(n_neighbors = 5, metric = 'minkowski', p = 2)
classifier.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [89]:
y_pred = classifier.predict(X_test)
test = pd.read_csv('test.csv')
testid = test.iloc[:, 0].values
testid = testid.astype(int)
answer = np.concatenate((testid.reshape(len(testid),1), y_pred.reshape(len(y_pred),1)),1)
np.savetxt("results-KNN.csv", answer, "%i", header="id,price_range", delimiter=",", comments="")

Kernel SVM

In [90]:
from sklearn.svm import SVC
classifier = SVC(kernel = 'rbf', random_state = 0)
classifier.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=0, shrinking=True, tol=0.001,
    verbose=False)

In [91]:
y_pred = classifier.predict(X_test)
test = pd.read_csv('test.csv')
testid = test.iloc[:, 0].values
testid = testid.astype(int)
answer = np.concatenate((testid.reshape(len(testid),1), y_pred.reshape(len(y_pred),1)),1)
np.savetxt("results-KSVM.csv", answer, "%i", header="id,price_range", delimiter=",", comments="")

Logistic Regression Model

In [92]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [93]:
y_pred = classifier.predict(X_test)
test = pd.read_csv('test.csv')
testid = test.iloc[:, 0].values
testid = testid.astype(int)
answer = np.concatenate((testid.reshape(len(testid),1), y_pred.reshape(len(y_pred),1)),1)
np.savetxt("results-Logistic.csv", answer, "%i", header="id,price_range", delimiter=",", comments="")

Naive Bayes

In [94]:
from sklearn.naive_bayes import GaussianNB
classifier = GaussianNB()
classifier.fit(X_train, y_train)

GaussianNB(priors=None, var_smoothing=1e-09)

In [95]:
y_pred = classifier.predict(X_test)
test = pd.read_csv('test.csv')
testid = test.iloc[:, 0].values
testid = testid.astype(int)
answer = np.concatenate((testid.reshape(len(testid),1), y_pred.reshape(len(y_pred),1)),1)
np.savetxt("results-NaiveBayes.csv", answer, "%i", header="id,price_range", delimiter=",", comments="")

Random Forest Classification

In [96]:
from sklearn.ensemble import RandomForestClassifier
classifier = RandomForestClassifier(n_estimators = 10, criterion = 'entropy', random_state = 0)
classifier.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='entropy', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [97]:
y_pred = classifier.predict(X_test)
test = pd.read_csv('test.csv')
testid = test.iloc[:, 0].values
testid = testid.astype(int)
answer = np.concatenate((testid.reshape(len(testid),1), y_pred.reshape(len(y_pred),1)),1)
np.savetxt("results-RandomForest.csv", answer, "%i", header="id,price_range", delimiter=",", comments="")